:root {
    --green:#92C149;
    --yellow:#FFCC02;
}


.card {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
.title{
    color:var(--green);
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.subtitles{
    color:var(--green);
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*
.card p {

}
*/