@font-face {
    font-family:Gilroy-ExtraBold ;
    src: url(./assets/Font\ family/Gilroy-ExtraBold.otf);
    
    ;
}
@font-face {
    font-family:Gilroy-Light ;
    src: url(./assets/Font\ family/Gilroy-Light.otf);
}
.App{
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Gilroy-Light;
    
    }

