/* @font-face {
    font-family: Gilroy-Light ;
    src: url(../../assets/Font/Gilroy-Light.otf);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
  }
  
  .barnav{
    background-color: #ffcc02;
    color: #ffcc02
  }

  
  .footer{
    background-color: #000;
  } */