
div.container-card{
  background-color: #fefefe;
  padding: 30px;
  max-width: 370px;
  min-width: 320px;
  min-height: 450px;
  max-height: fit-content;
  border-radius: 15px;
  box-shadow:0px 15px #92C149;
  margin-top: 90px;
  margin-bottom: 200px;
  display:flex;
  flex-direction: column;
  justify-content:center;
  border: solid #92C149;
}
@media (min-width: 360px) and (max-width:400px) {
  .container-card{
    margin-left: 1%;
  }
}
@media (min-width: 400px) and (max-width:500px){
  .container-card{
    margin-left:10% ;
  }
}
@media (min-width: 500px) and (max-width: 600px) {
  .container-card{
    margin-left:18%;
  }
}
@media (min-width: 600px) and (max-width:750px) {
  .container-card{
    margin-left: 25%;
  }
  }
@media (min-width:751px) and (max-width:820px){
  .container-card{
  margin-left: 30%;
}
}
@media (min-width: 820px) and (max-width:1366px) {
  .container-card{
       margin-left:35% ;
  }
}

.calendar h3{
  color:#92C149;
  
}

.calendar h4{
  color:#92C149;
}



.dates-calendar{
  flex-wrap: wrap;
  display: flex;
  width: 100%;
}

.date-begin{
  margin-right: 3vw;
  width: 40%;
 
}

.date-begin h4{
  color: #92C149;
}

.date-end{
  width: 40%;
  
}

.date-end h4{
  color: #92C149;
}

.container-select-D{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-selct-date{
  /* background-color: yellow;
  border-radius: 5px;
  border:none;
  padding: 0.5vw; */
  margin-right: 10px;
}

.selectDates{
  margin-bottom: 10px;
}

.select-date{
 
  
  margin-bottom: 2vw ;
  background-color: #FEFEFE;
  border-radius: 5px;
  padding-right: 8vw;
  padding-left: 8vw;
}