

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height:66vh;
    
    
  }
  
  .back{
    width: 1920px;
    height: 625px;
    background-color: #D7D7D7;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
      inset -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    
   
  }
  
  .card {
    margin-top: 150px;
    margin-left:300px;
    position:absolute;
    width: 373px;
    height: 300px;
    border-radius: 15px;
  }
  
  .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #ffffff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h3 {
    font-size: 1.8rem;
    color: #92C149;
    margin-bottom: 15px;
  }
  
  
  
  
  